PORT=3000
NODE_ENV=development

# Conexión local a PostgreSQL
DATABASE_URL=postgresql://postgres:root@localhost:5432/cerrajeria_prod

# Zona horaria del negocio
DB_TIMEZONE=America/Mexico_City
APP_TIMEZONE=America/Mexico_City